h1 {
  text-align: center;
  color: gold;
  font-family: fantasy;
  border-style: groove;
  border-color: black;
  border-radius: 25px;
  border-width: 5px;
  border-spacing: 20px;
  padding: 20px;
  font-size: 40px;
  line-height: 0.3;
  margin: 15px;
  background: rgb(130, 138, 97) !important;
}

body {
  background: rgb(130, 138, 97) !important;
}

html {
  background: rgb(130, 138, 97) !important;
}

h {
  text-align: center;
  background: rgb(130, 138, 97) !important;
}

.openparagraph {
  text-align: center;
  font-size: large;
  float: initial;
  background-color: gray;
  margin: 15px;
  overflow: hidden;
  border-style: groove;
  background: rgb(130, 138, 97) !important;
}

.openparagraph2 {
  text-align: center;
  font-size: large;
  border-style: groove;
  margin: 15px;
  background: rgb(130, 138, 97) !important;
}
.img {
  width: 75%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: rgb(130, 138, 97) !important;
}

footer {
  text-align: center;
  background: rgb(130, 138, 97) !important;
}

.leader {
  color: coral;
}

.nephilem {
  color: yellow;
}
.title {
  font-style: italic;
  color: gold;
}
