h1 {
  text-align: center;
  color: goldenrod;
  font-family: fantasy;
  border-style: groove;
  border-color: black;
  border-radius: 25px;
  border-width: 5px;
  border-spacing: 20px;
  padding: 20px;
  font-size: 40px;
  line-height: 0.3;
  margin: 15px;

  background-image: url(../img/marble.jpg);
}

body {
  background: rgb(130, 138, 97) !important;
}

html {
  background: rgb(130, 138, 97) !important;
  overflow-x: hidden;
}

h {
  text-align: center;
}

.openparagraph {
  text-align: center;
  font-size: large;
  float: initial;
  background-color: gray;
  margin: 15px;
  overflow: hidden;
  border-style: groove;
}

.openparagraph2 {
  text-align: center;
  font-size: large;
  border-style: groove;
  margin: 15px;
}
.img {
  width: 75%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

footer {
  text-align: center;
  background-image: url(../img/marble.jpg);
}

.leader {
  color: coral;
}

.nephilem {
  color: yellow;
}
.title {
  font-style: italic;
  color: rgb(235, 82, 12);
}

h2 {
  text-align: center;
}
.image2 {
  max-width: 60%;
  height: 500px;
  display: block;
  margin-left: 20%;
}

.col-md-4 {
  border-style: groove;
  border-radius: 25px;
  text-align: center;
  font-size: large;
  background-image: url(../img/paper.gif);
}

.col-md-6 {
  border-style: groove;
  border-radius: 25px;
  text-align: center;
  font-size: 25px;
  background-image: url(../img/paper.gif);
}

.textsmall {
  font-size: small;
}

.col-md-3 {
  border-style: groove;
  border-radius: 25px;
  text-align: center;
  font-size: large;
  background-image: url(../img/paper.gif);
  /* word-break: break-all !important; */
}

.sin {
  font-style: italic;
  font-weight: bold;
}

.ares {
  color: red;
}

.crossout {
  text-decoration: black line-through;
}